<header class="header">
    <div class="container-fluid">
    <div class="display-flex row align-items-center justify-content-between">
        <div class="col-auto">
            <div class="site-logo">              
                <a href="/index.html">              
                <img class="light" src="/public/images/7-logo.png" alt="Logo">         
                <img class="dark" src="/public/images/7-logo.png" alt="Logo"></a>
            </div>
        </div>

        
        <nav class="navigation visible_menu">
            <ul id="menu-navigation" class="menu">
            <li id="menu-item-182" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-198"><a href="/src/pages/sale-2/index.html" ><span>New Arrivals</span></a></li>

            <li id="menu-item" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children "><a href="/src/pages/product/MenDisplay/index.html" ><span>Men</span></a>
                <ul class="sub-menu">
                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children "><a href="/src/pages/product/MenDisplay/index.html" ><span>Clothing</span></a>
                    <ul class="sub-menu">
                    <li class="menu-item menu-item-type-custom menu-item-has-children "><a href="#" ><span>Polo</span></a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page "><a href="#" ><span>Casual Shirt</span></a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page "><a href="#" ><span>Formal Shirt</span></a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page "><a href="#" ><span>Jeans</span></a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page "><a href="#" ><span>Trousers</span></a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page "><a href="#" ><span>Jackets</span></a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page "><a href="#" ><span>Suits & Blazers</span></a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page "><a href="#" ><span>SweatShirt</span></a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page "><a href="#" ><span>Tracksuits</span></a></li>
                    </ul>
                </li>
                <li id="menu-item-848" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children "><a href="#" ><span>Accessories</span></a>
                    <ul class="sub-menu">
                    <li id="menu-item-846" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-846"><a href="#" ><span>Shoes</span></a></li>
                    <li id="menu-item-845" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-845"><a href="/src/pages/product/HandBags/index.html" ><span>Bags</span></a></li>
                    <li id="menu-item-844" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-844"><a href="#" ><span>Wallets</span></a></li>
                    <li id="menu-item-846" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-846"><a href="#" ><span>Belt & Buckle</span></a></li>
                    <li id="menu-item-845" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-845"><a href="#" ><span>Sunglasses</span></a></li>
                    <li id="menu-item-844" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-844"><a href="#" ><span>Watches</span></a></li>
                    <li id="menu-item-846" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-846"><a href="#" ><span>Cufflinks</span></a></li>
                    <li id="menu-item-845" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-845"><a href="#" ><span>Hats/Gloves/Scarves</span></a></li>
                    <li id="menu-item-844" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-844"><a href="#" ><span>Ties</span></a></li>
                    <li id="menu-item-846" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-846"><a href="#" ><span>Socks</span></a></li>
                    <li id="menu-item-845" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-845"><a href="#" ><span>Fragrance</span></a></li>                            
                    </ul>
                </li>
                </ul>
            </li>

            <li id="menu-item" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children "><a href="/src/pages/product/women/index.html" ><span>Women</span></a>
                <ul class="sub-menu">
                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children "><a href="#" ><span>Clothing</span></a>
                        <ul class="sub-menu">
                            <li class="menu-item menu-item-type-custom menu-item-object-custom "><a href="#" ><span>Polo</span></a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page "><a href="#" ><span>Casual Shirt</span></a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page "><a href="#" ><span>Formal Shirt</span></a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page "><a href="#" ><span>Jeans</span></a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page "><a href="#" ><span>Trousers</span></a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page "><a href="#" ><span>Jackets</span></a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page "><a href="#" ><span>Suits & Blazers</span></a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page "><a href="#" ><span>SweatShirt</span></a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page "><a href="#" ><span>Tracksuits</span></a></li>
                        </ul>
                    </li>
                    <li id="menu-item-848" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children "><a href="#" ><span>Accessories</span></a>
                        <ul class="sub-menu">
                            <li id="menu-item-846" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-846"><a href="#" ><span>Shoes</span></a></li>
                            <li id="menu-item-845" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-845"><a href="#" ><span>Bags</span></a></li>
                            <li id="menu-item-844" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-844"><a href="#" ><span>Wallets</span></a></li>
                            <li id="menu-item-846" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-846"><a href="#" ><span>Belt & Buckle</span></a></li>
                            <li id="menu-item-845" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-845"><a href="#" ><span>Sunglasses</span></a></li>
                            <li id="menu-item-844" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-844"><a href="#" ><span>Watches</span></a></li>
                            <li id="menu-item-846" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-846"><a href="#" ><span>Cufflinks</span></a></li>
                            <li id="menu-item-845" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-845"><a href="#" ><span>Hats/Gloves/Scarves</span></a></li>
                            <li id="menu-item-844" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-844"><a href="#" ><span>Ties</span></a></li>
                            <li id="menu-item-846" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-846"><a href="#" ><span>Socks</span></a></li>
                            <li id="menu-item-845" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-845"><a href="#" ><span>Fragrance</span></a></li>                            
                        </ul>
                    </li>
                </ul>
            </li>

            <li id="menu-item-198" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-198"><a href="/src/pages/product/watches/index.html"><span>Watches</span></a>
                <ul class="sub-menu">
                <li id="menu-item-201" class="menu-item menu-item-type-custom menu-item-object-custom"><a href="#" ><span>Men</span></a></li>
                <li id="menu-item-696" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="#" ><span>Women</span></a></li>
                </ul>
            </li>

            <li id="menu-item-720" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-720"><a href="/src/pages/story/index.html"><span>Our Story</span></a>
            </li>
            
            <li id="menu-item-199" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-199"><a href="/src/pages/wishList/wishList.html" ><span>Wish List</span></a></li>

            <li id="menu-item-199" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-199"><a href="https://promo-theme.com/luxa/blog-grid/" ><span>Blog</span></a></li>
            <!-- 
            <li id="menu-item-198" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-198"><a href="#" ><span>Pages</span></a>
                <ul class="sub-menu">
                    <li id="menu-item-201" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-201"><a href="https://promo-theme.com/luxa/404-page.php" ><span>404 Page</span></a></li>
                    <li id="menu-item-696" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-696"><a href="https://promo-theme.com/luxa/about-me/" ><span>About Me</span></a></li>
                    <li id="menu-item-183" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-183"><a href="https://promo-theme.com/luxa/about-us/" ><span>About Us</span></a></li>
                    <li id="menu-item-190" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-190"><a href="https://promo-theme.com/luxa/coming-soon/" ><span>Coming Soon</span></a></li>
                    <li id="menu-item-196" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-196"><a href="https://promo-theme.com/luxa/services/" ><span>Services</span></a></li>
                </ul>
            </li> -->
            
            <li id="menu-item-200" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-200"><a href="#" ><span>Shop</span></a>
            <ul class="sub-menu">
                <li id="menu-item-188" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/src/pages/cart/cart.html" ><span>Cart</span></a></li>
                
                <li id="menu-item-189" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/src/pages/checkout/checkout.html" ><span>Checkout</span></a></li>
                <li id="menu-item-195" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/src/pages/auth/login-page.html" ><span>My account</span></a></li>
                <li id="menu-item-197" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="#" ><span>Product List</span></a></li>
            </ul>
            </li>
            <li id="menu-item-202" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-202"><a href="https://promo-theme.com/luxa/contacts/" ><span>Contacts</span></a></li>
            </ul> 
        </nav>

        <div class="right col-auto d-flex flex-row">
            <div class="header-minicart woocommerce header-minicart-luxa mx-2">
                <div class="hm-count"><a href="/src/pages/cart/cart.html"><i class="fa-solid fa-cart-shopping"></i> CART</a></div>           
            </div>

            <div class="login-icon mx-2" >
                <a href="/src/pages/auth/login-page.html"><i class="fa-brands fa-wolf-pack-battalion "></i> LOGIN</a>
            </div>
        </div>
                    
        
    </div>
    </div> 
</header>