<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-6 col-lg-4">
        <div class="site-logo">
          <a href="#">
            <img src="/public/images/7-logo.png" alt="seven alpha" />
          </a>
        </div>
        <div
          id="black-studio-tinymce-2"
          class="widget widget_black_studio_tinymce"
        >
          <div class="textwidget">
            <p
              style="
                margin-top: 0;
                font-size: 14px;
                line-height: 24px;
                max-width: 255px;
                color: #cacaca;
              "
            >
              Aliquam ornare velit non ligula dignissim auctor. Nunc pharetra
              consectetur aliquet. Orci varius natoque penatibus et magnis dis
              parturient montes.
            </p>
          </div>
        </div>
        <div class="copyright">© 2025 7Alpha, Developed by PCI</div>
      </div>
      <div class="col-6 col-sm-3 col-lg-2">
        <div id="nav_menu-2" class="widget widget_nav_menu">
          <h6 class="widget-title">Links</h6>

          <div class="menu-footer-links-1-container">
            <ul>
              <li><a href="/src/pages/story/index.html">Our Story</a></li>
              <li>
                <a href="https://promo-theme.com/luxa/about-me/">About Me</a>
              </li>
              <li>
                <a href="https://promo-theme.com/luxa/about-us/">About Us</a>
              </li>
              <li>
                <a href="https://promo-theme.com/luxa/coming-soon/"
                  >Coming Soon</a
                >
              </li>
              <li>
                <a href="https://promo-theme.com/luxa/services/">Services</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-3 col-lg-2">
        <div id="nav_menu-3" class="widget widget_nav_menu">
          <h6 class="widget-title">Others</h6>

          <div class="menu-footer-links-2-container">
            <ul>
              <li>
                <a href="https://promo-theme.com/luxa/shop/">Product List</a>
              </li>
              <li>
                <a href="https://promo-theme.com/luxa/contacts/">Contacts</a>
              </li>
              <li>
                <a href="https://promo-theme.com/luxa/my-account/"
                  >My account</a
                >
              </li>
              <li>
                <a href="https://promo-theme.com/luxa/checkout/">Checkout</a>
              </li>
              <li><a href="https://promo-theme.com/luxa/cart/">Cart</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col">
        <div id="custom_html-2" class="widget_text widget widget_custom_html">
          <h6 class="widget-title">Contacts</h6>
          <div class="textwidget custom-html-widget">
            <div class="contact-row">
              <i class="fa-solid fa-phone"></i><span>+1 623-812-4957</span>
            </div>
            <div class="contact-row">
              <i class="fa-solid fa-envelope"></i
              ><span>support@seven-alpha.com</span>
            </div>
            <div class="contact-row">
              <i class="fa-solid fa-house"></i
              ><span>5022 Baker Street London 10013</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
